<!-- FOOTER -->
<div class="container marketing">
    <hr class="featurette-divider footer-feature">
    <footer>
        <p class="pull-left"><a href="{% url 'travel_log:index' %}">Home</a></p>

        <p class="pull-right"><a href="{% url 'travel_log:userlogout' %}"> Log out</a></p>

        <p>&copy; 2014 Abhishek Anurag</p>
    </footer>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/travel_log/js/bootstrap.min.js"></script>


<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" title=""
     style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;"
     data-original-title="Copy to clipboard">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%"
            height="100%">
        <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1406084385964">
        <param name="allowScriptAccess" value="sameDomain">
        <param name="scale" value="exactfit">
        <param name="loop" value="false">
        <param name="menu" value="false">
        <param name="quality" value="best">
        <param name="bgcolor" value="#ffffff">
        <param name="wmode" value="transparent">
        <param name="flashvars"
               value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">
    </object>
</div>
<div id="window-resizer-tooltip" style="display: none;"><a href="#" title="Edit settings"
                                                           style="background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.png);"></a><span
        class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1385</span> x <span
        class="tooltipHeight" id="winHeight">812</span><br><span class="tooltipTitle">Viewport size: </span><span
        class="tooltipWidth" id="vpWidth">1385</span> x <span class="tooltipHeight" id="vpHeight">323</span></div>

