{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'travel_log/header.html' %}
    <!-- Custom styles for this template -->
    <link href="/static/travel_log/css/carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand travel-white" href="{% url 'travel_log:index' %}">Travel Log</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'travel_log:signup' %}">Sign up</a></li>
                        <li><a href="{% url 'travel_log:userlogin' %}">Log in</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item next left">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="First slide">

            <div class="container">
                <div class="carousel-caption">
                    <img src="/static/travel_log/images/usr/home1.jpeg"
                         alt="First slide">

                    <h1>Andrew's vacation in the Caribbean</h1>

                    <p>You could be here too!</p>

                    <p><a class="btn btn-lg btn-primary" href="{% url 'travel_log:signup' %}" role="button">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Second slide">

            <div class="container">
                <div class="carousel-caption">
                    <img src="/static/travel_log/images/usr/home2.jpeg"
                         alt="First slide">

                    <h1>Mary's trip to Fort Brickulus</h1>

                    <p>You could be here too!</p>

                    <p><a class="btn btn-lg btn-primary" href="{% url 'travel_log:signup' %}" role="button">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="item active left">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                 alt="Third slide">

            <div class="container">
                <div class="carousel-caption">
                    <img src="/static/travel_log/images/usr/home3.jpeg"
                         alt="First slide">

                    <h1>Jerry's amazing holiday in Hawaii</h1>

                    <p>You could be here too!</p>

                    <p><a class="btn btn-lg btn-primary" href="{% url 'travel_log:signup' %}" role="button">Sign up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span
            class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/travel_log/images/usr/home1.jpeg"
                 alt="Generic placeholder image" style="width: 140px; height: 140px;">

            <h2>Andrew's vacation in the Caribbean</h2>

            <p>Beautiful beaches, fancy drinks!!</p>

            <p><a class="btn btn-default" href="{% url 'travel_log:view' 1 %}" role="button">View »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/travel_log/images/usr/home2.jpeg"
                 alt="Generic placeholder image" style="width: 140px; height: 140px;">

            <h2>Mary's trip to Fort Brickulus</h2>

            <p>Stone walls have sharper ears.</p>

            <p><a class="btn btn-default" href="{% url 'travel_log:view' 6 %}" role="button">View »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle"
                 src="/static/travel_log/images/usr/home3.jpeg"
                 alt="Generic placeholder image" style="width: 140px; height: 140px;">

            <h2>Jerry's amazing holiday in Hawaii</h2>

            <p>Oh the quiet and the calm...</p>

            <p><a class="btn btn-default" href="{% url 'travel_log:view' 7 %}" role="button">View »</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- FOOTER -->
<div class="container marketing">
    <hr class="featurette-divider-half">
    <div>
        <p>&copy; 2014 Abhishek Anurag</p>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/travel_log/js/bootstrap.min.js"></script>


<div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" title=""
     style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;"
     data-original-title="Copy to clipboard">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%"
            height="100%">
        <param name="movie" value="/assets/flash/ZeroClipboard.swf?noCache=1406084385964">
        <param name="allowScriptAccess" value="sameDomain">
        <param name="scale" value="exactfit">
        <param name="loop" value="false">
        <param name="menu" value="false">
        <param name="quality" value="best">
        <param name="bgcolor" value="#ffffff">
        <param name="wmode" value="transparent">
        <param name="flashvars"
               value="trustedOrigins=getbootstrap.com%2C%2F%2Fgetbootstrap.com%2Chttp%3A%2F%2Fgetbootstrap.com">
    </object>
</div>
<div id="window-resizer-tooltip" style="display: none;"><a href="#" title="Edit settings"
                                                           style="background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.png);"></a><span
        class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1385</span> x <span
        class="tooltipHeight" id="winHeight">812</span><br><span class="tooltipTitle">Viewport size: </span><span
        class="tooltipWidth" id="vpWidth">1385</span> x <span class="tooltipHeight" id="vpHeight">323</span></div>


</body>
</html>




