{% load url from future %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'travel_log/header.html' %}
    <!-- Custom styles for this template -->
    <link href="/static/travel_log/css/signin.css" rel="stylesheet">
    <link href="/static/travel_log/css/cover.css" rel="stylesheet">
</head>

<body>

<div class="container">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'travel_log:signup' %}" method="post" class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign up</h2>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.username.errors }}
        <label for="id_username">Username:</label>
        {{ form.username }}
        <br></br>
        {{ form.email.errors }}
        <label for="id_email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        {{ form.email }}
        <br></br>
        {{ form.password.errors }}
        <label for="id_password">Password:</label>
        {{ form.password }}
        <br></br>
        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
    </form>

</div>

{% include 'travel_log/footer.html' %}
</body>