<div>&copy; Abhishek Anurag 2014</div>
<a href="{% url 'travel_log:userlogout' %}">Log out</a>
<h1>{{ user.username }}'s Trip</h1>

<form action="{% url 'travel_log:add' %}" method="post">
    {% csrf_token %}
    <input type="text" name="trip_name">
    <input type="datetime" name="start_date"> to <input type="datetime" name="end_date">
    </br>
    <textarea name="trip_description"></textarea>
    <ul>
        <li>No destinations.</li>
    </ul>
    <input type="button" id="add_dest" value="Add destination">
    <input type="submit" value="Save">
    <input type="button" value="Cancel">
</form>