{% load url from future %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% include 'travel_log/header.html' %}

    <!-- Custom styles for this template -->
    <link href="/static/travel_log/css/cover.css" rel="stylesheet">
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEoIpA9PL7EZ5i1pEQq9e2ypAaRZL8eMA">
    </script>
</head>

<body>


<form class="container" method="post" action="{% if  trip.id == None %}
    {% url 'travel_log:edit' %}
{% else %}
    {% url 'travel_log:edit' trip.id %}
{% endif %}">
    {% csrf_token %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <div id="name_edit" class="">
                    <h2 class="left_buttons">Edit trip</h2>
                    <input name="trip_name" id="nameplace_edit" type="text" class="form-control small"
                           value="{{ trip.trip_name }}" required>
                    <input name="start_date" id="start_date_edit" type="date"
                           class="form-control dates" required>

                    <div id="start_date" class="hidden">{{ trip.start_date }}</div>
                    <input name="end_date" id="end_date_edit" type="date" class="form-control dates"
                           required>

                    <div id="end_date" class="hidden">{{ trip.end_date }}</div>
                </div>
            </div>
            <div class="media">
                <a href="#" class="pull-left"><img name="trip_cover"
                                                   src="/static/travel_log/images/usr/preview{{ trip.id }}.jpg"
                                                   class="media-object"
                                                   alt='No image available'/></a>


            </div>
            <br>

            <div id="trip_description_edit" class="media-body">
                <textarea name="trip_description" id="trip_description"
                          class="form-control" rows="5">{{ trip.trip_description }}</textarea>
            </div>
            <br>

            <h2 class="travel-align-left">Destinations:
                <button href="#" id="new_dest" class="btn btn-lg btn-primary">Add Destination
                </button>
            </h2>

            <div class="row clearfix">
                <div id="details" class="col-md-6 column travel-align-left">

                    <ul id="destinations">
                        {% if trip.destination_set.all|length == 0 %}
                            <li id="dest_0">
                                <input name="destination_name_edit_0"
                                       id="destination_name_edit_0" type="text"
                                       class="form-control small"
                                       value="" required>

                                <div id="rating_0" name="rating_0"></div>
                                <input id="rating_0_edit" name="rating_0_edit"
                                       class="hidden">

                                <div class="hidden"
                                     name="hidden_rating_0">5</div>
                                <input class="form-control"
                                       name="hidden_lat_0" value="">
                                <input class="form-control"
                                       name="hidden_lng_0" value="">

                                <textarea name="destination_desc_edit_0" type="text"
                                          class="form-control small"
                                          rows="3"></textarea>
                                <button id="delete_dest_0" class="btn btn-lg btn-primary">Delete
                                </button>
                            </li>

                            <br id="dest_break_0_0">
                            <br id="dest_break_1_0">
                        {% else %}
                            {% for destination in trip.destination_set.all %}
                                <li id="dest_{{ forloop.counter0 }}">
                                    <input name="destination_name_edit_{{ forloop.counter0 }}"
                                           id="destination_name_edit_{{ forloop.counter0 }}" type="text"
                                           class="form-control small"
                                           value="{{ destination.destination_name }}" required>

                                    <div id="rating_{{ forloop.counter0 }}" name="rating_{{ forloop.counter0 }}"></div>
                                    <input id="rating_{{ forloop.counter0 }}_edit" name="rating_{{ forloop.counter0 }}_edit"
                                           class="hidden">

                                    <div class="hidden"
                                         name="hidden_rating_{{ forloop.counter0 }}">{{ destination.rating }}</div>
                                    <input class="form-control"
                                           name="hidden_lat_{{ forloop.counter0 }}" value="{{ destination.location_lat }}">
                                    <input class="form-control"
                                           name="hidden_lng_{{ forloop.counter0 }}" value="{{ destination.location_long }}">

                                    <textarea name="destination_desc_edit_{{ forloop.counter0 }}" type="text"
                                              class="form-control small"
                                              rows="3">{{ destination.destination_description }}</textarea>
                                    <button id="delete_dest_{{ forloop.counter0 }}" class="btn btn-lg btn-primary">Delete
                                    </button>
                                </li>

                                <br id="dest_break_0_{{ forloop.counter0 }}">
                                <br id="dest_break_1_{{ forloop.counter0 }}">
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <input id="dest_count" name="dest_count" type="text" class="hidden">
                </div>
                <div id="map-canvas" class="col-md-6 column div-min-ht maps">

                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <button id="save_{{ forloop.counter0 }}" class="btn btn-lg btn-primary right_buttons radio-inline"
                    type="submit">Save
            </button>
            <a id="delete_{{ forloop.counter0 }}" class="btn btn-lg btn-primary right_buttons radio-inline"
               href="{% url 'travel_log:home' %}"
               role="button">Cancel</a>
        </div>
    </div>
</form>

{% include 'travel_log/footer.html' %}
<script type="text/javascript" src="/static/travel_log/js/jquery.raty.js"></script>
<script type="text/javascript" src="/static/travel_log/js/edit.js"></script>
</body>
</html>

