{% load url from future %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% include 'travel_log/header.html' %}
    <link href="/static/travel_log/css/cover.css" rel="stylesheet">
    <link href="/static/travel_log/css/jquery-ui.css" rel="stylesheet">
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEoIpA9PL7EZ5i1pEQq9e2ypAaRZL8eMA">
    </script>
    <script type="text/javascript"
            src="/static/travel_log/js/jquery-2.1.1.js">
    </script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h1 class="travel-align-left">
                Travel Log
                <small>for {{ username }}</small>
                <a id="new_trip" href="{% url 'travel_log:add' %}"
                   class="btn btn-lg btn-primary right_buttons"
                   role="button">Add Trip</a>
            </h1>

        </div>

        {% for trip in trips %}
            <!--Trip start -->
            <hr class="featurette-divider">
            <div name="trip_container_{{ forloop.counter0 }}" class="row clearfix">
                <div class="col-md-12 column">
                    <div class="page-header">
                        <h3 id="name_{{ forloop.counter0 }}" class="travel-align-left">
                            {{ trip.trip_name }}
                            <small id="start_date_{{ forloop.counter0 }}">{{ trip.start_date }}</small>
                            <small> to</small>
                            <small id="" end_date_{{ forloop.counter0 }}>{{ trip.end_date }}</small>
                        </h3>
                    </div>
                    <div class="media">
                        <a href="#" class="pull-left"><img name="trip_cover_{{ forloop.counter0 }}"
                                src="/static/travel_log/images/usr/preview{{ trip.id }}.jpg"
                                class="media-object"
                                alt='No image available'/></a>
                    </div>
                    <br></br>

                    <div class="row clearfix">
                        <div class="col-md-12 column travel-align-left">
                            {{ trip.trip_description }}
                        </div>
                    </div>
                    <br></br>

                    <div class="row clearfix">
                        <div name="details_{{ forloop.counter0 }}" class="col-md-6 column travel-align-left">

                            <ul>
                                {% for destination in trip.destination_set.all %}
                                    <li>
                                        <h4>{{ destination.destination_name }}</h4>

                                        <div name="rating_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}"></div>
                                        <div class="hidden"
                                             name="hidden_rating_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">{{ destination.rating }}</div>
                                        <div class="hidden"
                                             name="hidden_lat_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">{{ destination.location_lat }}</div>
                                        <div class="hidden"
                                             name="hidden_lng_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">{{ destination.location_long }}</div>
                                        <div>{{ destination.destination_description }}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="map-canvas_{{ forloop.counter0 }}" class="col-md-6 column div-min-ht maps">

                        </div>
                    </div>
                </div>
            </div>
            <br></br>
            <div class="row clearfix">
                <div class="col-md-12 column">

                    <a id="edit_{{ forloop.counter0 }}" href="{% url 'travel_log:edit' trip.id %}"
                       class="btn btn-lg btn-primary left_buttons radio-inline"
                       role="button">Edit</a>
                    <a id="delete_{{ forloop.counter0 }}" class="btn btn-lg btn-primary left_buttons radio-inline"
                       href="{% url 'travel_log:delete' trip.id %}"
                       role="button">Delete</a>
                    <a id="preview_{{ forloop.counter0 }}" class="btn btn-lg btn-primary right_buttons radio-inline"
                       href="{% url 'travel_log:preview' trip.id %}"
                       role="button">Preview</a>

                </div>
            </div>
            <!--Trip end-->
        {% endfor %}


    </div>
</div>
</div>


<!--div>&copy; Abhishek Anurag 2014</div>
    <h1>Travel Log for {{ username }}</h1>
    <a href="{% url 'travel_log:userlogout' %}">Log out</a>

    <h2>Recent Trips</h2>

    <ul>
        {% for trip in trips %}
            <li>
                <div>
                    <h3>{{ trip.trip_name }}</h3>

                    <div>{{ trip.start_date }} to {{ trip.end_date }}</div>
                    </br>
                    <div>{{ trip.trip_description }}</div>
                    <ul>
                        {% for destination in trip.destination_set.all %}
                            <li>
                                <h4>{{ destination.destination_name }}</h4>
                                <span>Rating: {{ destination.rating }}</span>

                                <div>{{ destination.destination_description }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'travel_log:preview' trip.id %}">Preview</a>
                    <a href="{% url 'travel_log:edit' trip.id %}">Edit</a>
                    <a href="{% url 'travel_log:delete' trip.id %}">Delete</a>
                </div>
            </li>
        {% endfor %}
        <a href="{% url 'travel_log:add' %}">New</a>
    </ul-->
{% include 'travel_log/footer.html' %}
<script type="text/javascript" src="/static/travel_log/js/jquery.raty.js"></script>
<script type="text/javascript" src="/static/travel_log/js/home.js"></script>
</body>
</html>